<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="description" content="{{meta.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="{{@static_url}}/resource/styles/libs/jquery.fullpage/jquery.fullpage.css" />
    <link rel="stylesheet" href="{{@static_url}}/resource/styles/site/index.css" />
</head>
<body>

<div class="header-wrap">
    <div class="header">
        <h1></h1>
        <ul class="top-nav">
            <li>用户手册</li>
            <li class="line"></li>
            <li>下载APP</li>
            <li class="line"></li>
            <li>
                <a href="/passport/login">马上体验</a>
            </li>
        </ul>
        <span class="right-nav">
            <a href="/passport/login" class="login">
                登录
            </a>
            <a href="/passport/register" class="register">
                注册
            </a>
        </span>

    </div>
</div>
<div class="footer-wrap">
    <div class="footer-top">
        <ul class="bottom-nav">
            <li>关于我们</li>
            <li class="line"></li>
            <li>隐私协议</li>
            <li class="line"></li>
            <li>意见反馈</li>
        </ul>
    </div>
    <div class="footer-bottom">
        <span>沪ICP备09003861号</span>
    </div>
</div>

<div id="saas-entry" class="saas-entry">
    <div class="section content">
        <div class="slide info">
            <div class="silde-wrap">
                <span class="h1">
                    免费使用，
                </span>
                <span class="h1" style="margin-bottom:50px;">
                    您的进销存记账管家
                </span>
                <span class="h3">
                    - 无须下载安装，注册立即使用
                </span>
                <span class="h3">
                    - 经营数据随时看，账款流水一目了然
                </span>
                <span class="h3">
                    - 构建专属团队，采销，老板，财务高效协同
                </span>
                <div style="margin-top:50px;">
                    <a class="button active" href="/passport/register">
                        立即注册
                    </a>
                    <a class="button" href="/passport/login">
                        马上体验
                    </a>
                </div>
            </div>
        </div>
        <div class="slide comment1">
            <div class="silde-wrap">
                <span class="h2">
                    张霄（ 老板）：
                </span>
                <span class="h1">
                    “ 货压在手里只会越压越狠，
                </span>
                <span class="h1">
                    不囤货又难开张，货量和时机难把控。”
                </span>
                <span class="h3">
                    西狮进销存根据预设的库存临界，第一时间库存预警，合理化降低潜在风险。
                </span>
                <div style="margin-top:50px;">
                    <a class="button active" href="/passport/register">
                        立即注册
                    </a>
                    <a class="button" href="/passport/login">
                        马上体验
                    </a>
                </div>
            </div>
        </div>
        <div class="slide comment2">
            <div class="silde-wrap">
                <span class="h2">
                    李福全（ 销售）：
                </span>
                <span class="h1">
                    “ 白天在外跑业务，忙活儿一天，晚上回公司
                </span>
                <span class="h1">
                    做报表，总想什么时候能按时吃上热乎饭。”
                </span>
                <span class="h3">
                    多终端使用能让您随时自由录入采销记录，无需报表数据自动同步至财务，好业绩应得美餐犒劳。
                </span>
                <div style="margin-top:50px;">
                    <a class="button active" href="/passport/register">
                        立即注册
                    </a>
                    <a class="button" href="/passport/login">
                        马上体验
                    </a>
                </div>
            </div>
        </div>
        <div class="slide comment3">
            <div class="silde-wrap">
                <span class="h2">
                    刘子珉（ 财务）：
                </span>
                <span class="h1">
                    “ 生意好了，但应收应付的账目更加杂乱
                </span>
                <span class="h1">
                    票据易失且容易遗漏，心里不踏实。”
                </span>
                <span class="h3">
                    “ 逾期预警，过期报警 ” 让收付款更加从容，记录可追溯，账目井然有序。
                </span>
                <div style="margin-top:50px;">
                    <a class="button active" href="/passport/register">
                        立即注册
                    </a>
                    <a class="button" href="/passport/login">
                        马上体验
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{@static_url}}/libs/jquery/jquery-2.1.4.js"></script>
<script src="{{@static_url}}/libs/jquery.fullpage/jquery.fullpage.js"></script>
<script src="{{@static_url}}/site/index.js"></script>
</body>
</html>