<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="description" content="{{meta.description}}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <link red="Shortcut Icon" href="{{@static_url}}/resource/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{@static_url}}/resource/styles/sprite.css" />
    <link type="text/css" rel="stylesheet" href="{{@static_url}}/resource/styles/m_passport/m_common.css" />
    <link type="text/css" rel="stylesheet" href="{{@static_url}}/resource/styles/m_passport/m_login.css" />
</head>
<body>
<div class="Contents">
    <div class="loginBox">
        <div class="inputArea phone">
            <input placeholder="手机号" class="loginNumber text" />
            <i class="sprite-h5_delete"></i>
        </div>
        <div class="inputArea userName">
            <input placeholder="密码" type = 'password' class="loginPassword text"/>
            <i class="sprite-h5_delete"></i>
        </div>
        <div class="submit">
            <button class="btn_submit common-submit">登录</button>
            <a class="info jumpLogin">新用户注册</a>
        </div>
    </div>
</div>
<div class="errorTips"><span class="tipsContent"></span></div>
<script src="{{@static_url}}/libs/jquery/jquery-2.1.4.js"></script>
<script src="{{@static_url}}/scripts/m_common.js"></script>
<script src="{{@static_url}}/scripts/m_login.js"></script>
</body>
</html>



